*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;

  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 1fr;  /* 711px 399px */
  grid-template-rows: 1fr;
  grid-template-areas:
  "result details";
  align-items: end;
  width: 1140px;
  height: 534px;
  gap: 30px;
}

/* result */

.result {
  grid-area: result;
  height: 456px;
}

.result__video {
  width: 100%;
  /* object-fit: scale-down; */
}

.result__video-container {
  width: 711px;
  margin-bottom: 16px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset-title {
  font-weight: normal;
  text-align: start;
}


/* details */

.content__details {
  grid-area: details;
  justify-self: stretch;
  align-self: stretch;
}

h1.title {
  display: inline;
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 75px;
  font-weight: bold;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  max-height: 298px;
  margin-top: 26px;
  overflow: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: white;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 30px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 16.2px;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: contain;
  object-position: center;
}
